{% extends "app_vete/base.html" %}
{% load static %}

{% block title %} 
Pet Vet | Sucursales 
{% endblock %} 

{% block content %}

{% if messages %}
<div class="container my-3 text-center ">
    {% for message in messages %}
        <div class="alert border rounded-pill py-2 px-4 mx-auto {{ message.tags }}" style="max-width: 600px;">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class ="container">

  <h2 class="text-center mt-2" id="sucursal">Buscar sucursal</h2>

  <div class="d-flex flex-column align-items-center mb-2">
      <form action="" method="GET">
          <input type="text" name="q" placeholder="Buscar..." required>
          <button type="submit">Buscar</button>
      </form>
  </div>



<div class ="container">

    <table class="table">
        <thead>
          <tr table class="table-primary"> 
    
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            {% if user.is_superuser %}
            <th scope="col">Acciones</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for sucursales in sucursales %}
          <tr table class="table-success">
            <td>{{ sucursales.nombre }}</td>
            <td>{{ sucursales.direccion }}</td>
            <td>{{ sucursales.telefono }}</td>
            {% if user.is_superuser %}
            <td>
              <a class="btn btn-danger" href = "{% url 'delete-sucursal' sucursales.id %}">Eliminar</a>
              <a class="btn btn-warning" href = "{% url 'editar-sucursal' sucursales.id %}">Editar</a>
              {% endif %}
            </td>
          </tr>
          <tr>
            {% endfor %}
        </tbody>
      </table>


</div>

{% if user.is_superuser %}
<div class="text-center">
  <a href="{% url 'sucursal-form' %}" class="btn btn-primary">Crear Sucursal</a>
</div>
{% endif %}

{% endblock %}
