{% extends "app_vete/base.html" %}
{% load static %}

{% block title %} 
Pet Vet | Descripción Producto
{% endblock %} 

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-light">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Detalles del Producto</h2>
                </div>
                <div class="card-body">
                    <h3 class="text-center mb-4">{{ producto.nombre }}</h3>
                    

                    <p class="text-muted mb-4">{{ producto.descripcion }}</p>
                    
                    <div class="text-center">
                        <a href="{% url 'producto' %}" class="btn btn-secondary me-2">Volver a Productos</a>
                        {% if user.is_superuser %}
                        <a href="{% url 'editar-producto' producto.id %}" class="btn btn-warning">Editar Producto</a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
