{% extends "app_vete/base.html" %}
{% load static %}

{% block title %} 
Pet Vet | Enviar Mensaje
{% endblock %} 

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h1>Enviar Mensaje</h1>
                </div>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        
                        <div class="mb-3">
                            <label for="destinatario" class="form-label">Selecciona el destinatario</label>
                            <select name="destinatario" class="form-select">
                                {% for usuario in usuarios %}
                                    <option value="{{usuario.username}}">{{usuario.username}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        
                        <div class="mb-3">
                            <label for="contenido" class="form-label">Escribe tu mensaje</label>
                            <textarea name="contenido" id="" class="form-control" rows="5" placeholder="Escribe aquí tu mensaje"></textarea>
                        </div>

                        
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-secondary" href="{% url 'mostrar-mensaje' %}">Volver</a>
                            <button class="btn btn-primary" type="submit">Enviar Mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
